@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap');
html{
	scroll-behavior: smooth;

	/* 100% = 16px default font size
	what if we want 10px as default font size
	so we devide the 10/16 = .625*100 = 62.5%*/
	font-size: 62.25%;
	/* font-size: 100% = 16px;
	1px = 6.25%;
	10px = 62.25%;
	15px = 93.75%; */
} 

:root{
	--main-color: #fff;
	--h1-para-font-size: 2.5rem;
}

*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
}

::selection{
	color: blue;
}
a{ 
	text-decoration: none; 
}

a:hover{ 
	text-decoration: none;
}

li{
	list-style: none;
}

p{
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--main-color);
}/* 
.heading h1{
		font-size: var(--h1-font-size);
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;	
		font-family: 'Permanent Marker', cursive;
		font-family: 'Righteous', cursive;
		font-family: 'Dancing Script', cursive;
	}
.heading p{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: var(--h1-para-font-size);
	/* font-family: 'Dancing Script', cursive; */



/**************** actual css classes starts *******************/

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)),
	 url('../images/istockphoto-506551290-1024x1024.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	clip-path: polygon( 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0 );
	position: relative;
}
.header:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	opacity: .3%;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	right: 0%;
	left: 0%;
	opacity: .3%;
	z-index: -1;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);	
}
.navbar-brand{
	font-size: 1.8rem;
}
.nav-item a{
	color: var(--main-color)!important;
	font-size: 1.8rem;
}

.header-section{
	width: 100%;
	height: inherit;
	color: var(--main-color);
	text-align: center;
	font-family: 'Dancing Script', cursive;
	position: relative;
}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: 'Dancing Script', cursive;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.center-div h1{
	font-size: 3.5rem;
}
.center-div p{
	font-size: var(--h1-para-font-size);
	padding: 1rem 0 2rem 0;
	color: var(--main-color);
	font-family: 'Dancing Script', cursive;
}

/* **************** COVID-19 LIVE UPDATE ************** */

.table tr th{
	font-size: 1.5rem;
}
.table tr td{
	font-size: 1.3rem;
}

/* **************** COVID-19 LIVE UPDATE ************** */
/* *********** about corona virus *************** */
.content p{
	color: black;
}

.sub_section{
	background-color: #e9ecef;
}
/* *********** about corona virus *************** */
/* *********** contact us starts *************** */

/* .custom-control checkbox::before, 
.custom-control checkbox::after {
    top: 1rem;
    width: 5.65rem;
    height: 5.65rem;
} */
.form-button button{
	border: none;
	border-radius: 100px;
	margin: 0px 5px;
	/* line-height: 5rem; */
	padding: 12px 35px;
	outline: none;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	background: transparent;
}

form:hover .form-button button{
	background: #50d1c0;
	border: 1px solid #000;
	color: #000;
	box-shadow: 0 0 20px 0 rgba(0 0 0 0.3);
}

::placeholder{
	font-size: 1.5rem;
}

/* *********** contact us starts *************** */
















/***************** footer starts css **********************/

.footersection{
	width: 100%;
	height: auto;
	position: relative;
	padding: 7rem 0 2rem 0;
	background: #00abff;
}	

.footersection li a{
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--main-color);
	text-transform: capitalize;
}


.footersection h3{
	text-transform: uppercase;
	color: var(--main-color);
	margin-bottom: 2.5rem;
	font-size: 2rem!important;
	font-weight: bold;
	text-shadow: 0 .2rem .5rem rgba(0 0 0 0.4);

}

.footer-div li a:hover{
	text-decoration: none;
}

/***************** footer css ends **********************/
/***************** arrow css starts **********************/

#myBtn{
	
	display: none;
	position: fixed;
	bottom: 3rem;
	right: 5rem;
	z-index: 99;
	border: none;
	color: var(--main-color);
	background: #00abff;
	padding: 1.5rem;
	border-radius: 1.5rem;
}

#myBtn:hover{
	background: #606060;
}


/***************** arrow css ends **********************/
/******************** media queries ***********************/

@media(max-width: 768px){
	.nav-item{
		text-align: center!important;
	}
	.contactus{
		height: auto;
		margin-top: 2rem;
	}	margin: 3rem 0rem;
	}
	.contactus p{
		padding: 0px 4rem;
	}

	.footer-div:nth-child(2){
		text-align: left!important;
	}

	.footer-div{
		margin: 2rem 0;
	}
}

@media(max-width: 998px){
	.nav-item{
		text-align: center!important;
	}
	.pricing, .contactus,.wrapper, .our_team{
		height: auto;
		margin-top: 2rem;
	}
	.card-second{
		transform: translateY(0rem);
		margin: 3rem 0rem;
	}
	.contactus p{
		padding: 0rem 4rem;
	}

}	
@media(max-width: 998px){
	html{
		font-size: 75%;
	}
}
@media(max-width: 768px){
	html{
		font-size: 55%;
	}
}